.top-header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--background);
  color: var(--text);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.top-header-title {
  font-size: 18px;
  font-weight: 600;
}
